<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Your Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ng-container *ngIf="user?.uid != null; else notLoggedIn">
    <div class="flex-container">

      <app-profile-element [user]="user">
      </app-profile-element>

      <ng-container *ngIf="showComments">
        <ng-container *ngIf="comments?.length > 0">
          <div class="comments-header">
            Comments
          </div>

          <ng-container *ngFor="let comment of comments; let i = index">
            <app-profile-comment [comment]="comment">
            </app-profile-comment>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

  </ng-container>
</ion-content>

<!--
<ng-template #individual>
</ng-template>

<ng-template #consultant>
</ng-template>

<ng-template #contractor>
</ng-template>

<ng-template #supplier>
</ng-template> -->

<!-- not logged in here -->
<ng-template #notLoggedIn>
  <ion-row justify-content-center>
    <ion-col text-center align-items-center>
      <ng-container *ngIf="showNotLoggedIn">
        <h1>Login to view your profile!</h1>
        <ion-button type="bar-button" mode="ios" text-uppercase href="/login" routerDirection="forward">
          <ion-icon name="at" mode="md"></ion-icon>&nbsp;Log In
        </ion-button>
      </ng-container>
    </ion-col>
  </ion-row>
</ng-template>