<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon name="arrow-round-back"></ion-icon>
        {{'common.back' | translate}}
      </ion-button>
    </ion-buttons>

    <ion-title>

      <ng-container class="dir-rtl" *ngIf="translate.currentLang==='ar'">
        أنشئ مناقصة
      </ng-container>
      <ng-container *ngIf="translate.currentLang==='en'">
        Create Tender
      </ng-container>
    </ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid no-padding>

    <ion-row padding-horizontal>

      <ion-col style="margin: 0 auto; max-width:500px">

        <h2 class="center dir-rtl" *ngIf="translate.currentLang==='ar'" padding-bottom margin-bottom>
          <strong>
            دخل التفاصيل و خلي الباقي علينا!
          </strong>
        </h2>
        <h2 class="center" *ngIf="translate.currentLang==='en'">
          <strong>
            Enter the details,<br>leave the rest to us!
          </strong>
        </h2>

        <!-- NOTE: Tender Title -->
        <ion-item>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs">
            عنوان المناقصة*
          </ion-label>
          <ion-label color="primary" position="floating" *ngIf="translate.currentLang==='en'">
            Title*
          </ion-label>
          <ion-input text-center [(ngModel)]="newTender.tenderTitle" type="text">
          </ion-input>
        </ion-item>

        <!-- NOTE: Tender Email -->
        <ion-item>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs">
            إيميل التواصل*
          </ion-label>
          <ion-label color="primary" position="floating" *ngIf="translate.currentLang==='en'">
            Contact Email*
          </ion-label>
          <ion-input text-center [(ngModel)]="newTender.tenderContactEmail" type="text">
          </ion-input>
        </ion-item>

        <!-- NOTE: Tender Whatsapp -->
        <ion-item>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl">
            واتساب التواصل*
          </ion-label>
          <ion-label color="primary" position="floating" *ngIf="translate.currentLang==='en'">
            Contact Whatsapp*
          </ion-label>
          <ion-input text-center [(ngModel)]="newTender.tenderContactWhatsapp" type="text">
          </ion-input>
        </ion-item>

        <!-- NOTE: Tender Phone/Mobile -->
        <ion-item>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl">
            رقم التواصل
          </ion-label>
          <ion-label color="primary" position="floating" *ngIf="translate.currentLang==='en'">
            Contact Phone/Mobile (Optional)
          </ion-label>
          <ion-input text-center [(ngModel)]="newTender.tenderContactNumber" type="text">
          </ion-input>
        </ion-item>




        <!-- NOTE: Tender Category -->
        <ion-item padding-top>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl">
            تصنيف المناقصة*
          </ion-label>
          <ion-label color="primary" position="stacked" class="label" *ngIf="translate.currentLang==='en'">Tender
            Category*</ion-label>

          <ion-select ok-text="Select" cancle-text="Cancle" [(ngModel)]="newTender.tenderCategory" interface="action-sheet">

            <ion-select-option value="tender_construction">Construction</ion-select-option>
            <ion-select-option value="tender_steel">Steel Works</ion-select-option>
            <ion-select-option value="tender_maintenance">Maintenance</ion-select-option>
            <ion-select-option value="tender_concrete">Concrete</ion-select-option>
            <ion-select-option value="tender_prefab">Prefab Works</ion-select-option>
            <ion-select-option value="tender_insulation">Insulation</ion-select-option>
            <ion-select-option value="tender_fencing">Fencing/Walls</ion-select-option>
            <ion-select-option value="tender_general">General Works</ion-select-option>


          </ion-select>
        </ion-item>

        <!-- NOTE: Deadline -->
        <ion-item padding-top>

          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl">
            تاريخ الإنتهاء*
          </ion-label>
          <ion-label color="primary" position="stacked" class="label" *ngIf="translate.currentLang==='en'">Select
            Deadline*</ion-label>

          <ion-datetime [(ngModel)]="selectedDeadline" display-format="DD/MM/YYYY" min="{{datePickerMinYear}}" max="{{datePickerMaxYear}}"
            (ionChange)="onSelectDate($event)">

          </ion-datetime>

        </ion-item>


        <!-- NOTE: Tender Summary -->
        <ion-item padding-top>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl">
            تفاصيل المناقصة (إختياري)*
          </ion-label>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='en'">
            Tender Summary & Main Instructions<br>(Optional)
          </ion-label>

          <textarea placeholder="" rows="6" dir="auto" [(ngModel)]="summaryTemp"></textarea>

        </ion-item>


        <!-- Spacer  -->
        <div padding>
        </div>


        <!-- NOTE: Attachments Section -->
        <ion-item class="no-border-label">
          <ion-label style="color:rgb(3, 108, 150); font-size:1.1rem;" *ngIf="translate.currentLang==='ar'" class="dir-rtl"
            text-center>
            قم بإدراج صورة في المناقصة (إختياري)
          </ion-label>
          <ion-label style="color:rgb(3, 108, 150); font-size:1.1rem;" *ngIf="translate.currentLang==='en'" text-center>
            Add an Image to the Tender (Optional)
          </ion-label>
        </ion-item>

        <!-- __ Camera Part -->
        <!-- <ng-container *ngIf="platform.is('cordova')"> -->
        <ion-item class="no-border-label" style="align-items: center;">
          <!-- __ Take Picture Button -->

          <label for="uploadCamera" class="custom-file-upload bold" style="text-align: center;">
            <ion-icon name="camera" size="large"></ion-icon>
          </label>
          <input #uploadCamera type="button" (click)="takePicture()" id="uploadCamera" name="uploadCamera" style="margin:0 auto; width: 90%; display: none;">

          <ion-icon name="checkbox" color="success" *ngIf="imageBlob"></ion-icon>

          <!-- __ Add Photo Button -->
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs"
            text-center style="margin-top: 14px">
            أو
          </ion-label>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='en'" class="bs" text-center
            style="margin-top: 14px">
            Or
          </ion-label>
        </ion-item>
        <!-- </ng-container> -->

        <!-- NOTE: ATTACHMENT 3 -->
        <ion-item padding-bottom class="no-border-label">

          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs">
          </ion-label>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='en'" class="bs">
          </ion-label>

          <label for="upload3" class="custom-file-upload bold" style="text-align: center;">
            <ion-icon name="image" size="large"></ion-icon>
          </label>
          <input #uploadButton3 type="file" (change)="setUpload($event, 3)" id="upload3" name="upload3" style="margin:0 auto; width: 90%;">
          <ion-icon name="checkbox" color="success" *ngIf="filesToUpload[3] != 'NOT-SET'"></ion-icon>

          <ng-container *ngIf="uploadPercent3 | async as p">
            <div class="upload-percent">
              <ng-container *ngIf="translate.currentLang==='ar'">الرفع</ng-container>
              <ng-container *ngIf="translate.currentLang==='en'">Upload</ng-container>
              {{ p }}%
            </div>
          </ng-container>

        </ion-item>

        <!-- NOTE: Attachments Section -->
        <ion-item class="no-border-label">

          <ion-label style="color:rgb(3, 108, 150); font-size:1.1rem;" *ngIf="translate.currentLang==='ar'" class="dir-rtl"
            text-center>
            يمكنك رفع 3 ملفات كحد أقصى (إختياري)
          </ion-label>
          <ion-label style="color:rgb(3, 108, 150); font-size:1.1rem;" *ngIf="translate.currentLang==='en'" text-center>
            Upload up to 3 attachments: (Optional)
          </ion-label>

        </ion-item>

        <!-- NOTE: ATTACHMENT 0 -->
        <ion-item padding-bottom class="no-border-label">

          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs">
            الملف الأول
          </ion-label>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='en'" class="bs">
            Attachment #1
          </ion-label>

          <label for="upload0" class="custom-file-upload bold" style="text-align: center;" >
            <ion-icon name="document" size="large"></ion-icon>
          </label>
          <input #uploadButton0 type="file" (change)="setUpload($event, 0)" id="upload0" name="upload0" style="margin:0 auto; width: 90%;">
          <ion-icon name="checkbox" color="primary" *ngIf="filesToUpload[0] != 'NOT-SET'"></ion-icon>

          <ng-container *ngIf="uploadPercent0 | async as p">
            <div class="upload-percent">
              <ng-container *ngIf="translate.currentLang==='ar'">الرفع</ng-container>
              <ng-container *ngIf="translate.currentLang==='en'">Upload</ng-container>
              {{ p }}%
            </div>
          </ng-container>

        </ion-item>

        <!-- NOTE: ATTACHMENT 1 -->
        <ion-item padding-bottom class="no-border-label">

          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs">
            الملف الثاني
          </ion-label>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='en'" class="bs">
            Attachment #2
          </ion-label>

          <label for="upload1" class="custom-file-upload bold" style="text-align: center;">
            <ion-icon name="document" size="large"></ion-icon>
          </label>
          <input #uploadButton1 type="file" (change)="setUpload($event, 1)" id="upload1" name="upload1" style="margin:0 auto; width: 90%;">
          <ion-icon name="checkbox" color="primary" *ngIf="filesToUpload[1] != 'NOT-SET'"></ion-icon>


          <ng-container *ngIf="uploadPercent1 | async as p ">
            <div class="upload-percent">
              <ng-container *ngIf="translate.currentLang==='ar'">الرفع</ng-container>
              <ng-container *ngIf="translate.currentLang==='en'">Upload</ng-container>
              {{ p }}%
            </div>
          </ng-container>

        </ion-item>

        <!-- NOTE: ATTACHMENT 2 -->
        <ion-item padding-bottom class="no-border-label">

          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='ar'" class="dir-rtl bs">
            الملف الثالث
          </ion-label>
          <ion-label color="primary" position="stacked" *ngIf="translate.currentLang==='en'" class="bs">
            Attachment #3
          </ion-label>

          <label for="upload2" class="custom-file-upload bold" style="text-align: center;" >
            <ion-icon name="document" size="large"></ion-icon>
          </label>
          <input #uploadButton2 type="file" (change)="setUpload($event, 2)" id="upload2" name="upload2" style="margin:0 auto; width: 90%;">
          <ion-icon name="checkbox" color="primary" *ngIf="filesToUpload[2] != 'NOT-SET'"></ion-icon>

          <ng-container *ngIf="uploadPercent2 | async as p ">
            <div class="upload-percent">
              <ng-container *ngIf="translate.currentLang==='ar'">الرفع</ng-container>
              <ng-container *ngIf="translate.currentLang==='en'">Upload</ng-container>
              {{ p }}%
            </div>
          </ng-container>

        </ion-item>


        <!-- NOTE: Spacer  -->
        <div padding></div>


        <!-- NOTE: END OF ION CONTENT -->
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>


<!-- NOTE: Footer -->
<ion-footer>

  <ion-toolbar color="light">

    <ion-row padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <!-- NOTE: Create Tender Button -->
        <ion-button expand="block" mode="ios" (click)="onCreateClicked()" class="bold">
          <ng-container *ngIf="translate.currentLang==='ar'">أنشئ المناقصة</ng-container>
          <ng-container *ngIf="translate.currentLang==='en'">Create
            Tender</ng-container>

        </ion-button>

        <!-- input checking test done - perfect
          <ion-button expand="block" mode="ios" type="submit" (click)="onTestClicked()">
          &nbsp;TEST
        </ion-button> -->

        <!-- navigation testing done - perfect
          <ion-button expand="block" mode="ios" type="submit" routerDirection="forward" routerLink="/view-tender/P52wFEorA3ryZqwJXtw2">
          &nbsp;Test Navigate
        </ion-button> -->

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>