@import "../../../theme/mixins.scss";

.upload-percent {
  display: block;
  padding: 20px;
  font-size: 1.5rem;
  @include m7bold;
  color: theme-colors("textColors", "primary");
  text-align: center;
  align-self: center;
}

ion-label {
  @include m7bold;
  font-size: 0.95rem;
}

ion-item {
  --inner-padding-end: 0px;
}

ion-textarea {
  --background: rgba(189, 189, 189, 0.13);
  --padding-top: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

.description-text {
  font-size: 0.8rem;
}

textarea {
  width: calc(100% - 4px);
  resize: none;
  background: rgb(250, 250, 250);
}

.bs {
  // bigger-stacked
  font-size: 1rem;
}

h2 {
  font-size: 1.1rem;
}

.pictureButton {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 12px;
  color: white;
  @include m7bold;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  // border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #007EAF;
  width: 100px;
  color: white;
  @include m7bold;
padding-top: 15px;
  * {
    cursor: pointer;
  }
}