<ion-header>

  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'tabs.tab1.home' | translate}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="flex-container">

    <ng-container *ngFor="let tender of tenders; let i = index">
      <div class="tender-element-container">
        <app-tender-list-element [tender]="tender" [extended]="false">
        </app-tender-list-element>
      </div>
    </ng-container>

  </div>

</ion-content>





<ion-footer>

  <ion-toolbar color="light">

    <ion-row padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">
        <!-- NOTE: LOGGED IN CITY SELECTOR, DEFAULTS TO USER'S CITY! -->

        <ion-item *ngIf="translate.currentLang==='ar' ; else EnCitySelector">
          <ion-label position="floating" style="height: 0px !important" no-padding no-margin></ion-label>

          <ion-select ok-text="Select" interface="action-sheet" [(ngModel)]="selectedCityString" (ionChange)="onSelectCity()"
            text-center>
            <!-- [value]="0" -->

            <ion-select-option value="0">الإمارات</ion-select-option>
            <ion-select-option value="1">دبي</ion-select-option>
            <ion-select-option value="2">الشارقة</ion-select-option>
            <ion-select-option value="3">عجمان</ion-select-option>
            <ion-select-option value="4">أبوظبي</ion-select-option>
            <!-- <ion-select-option value="5">العين</ion-select-option> -->
            <ion-select-option value="6">الفجيرة</ion-select-option>
            <ion-select-option value="7">راس الخيمة</ion-select-option>
            <ion-select-option value="8">ام القيوين</ion-select-option>

          </ion-select>
        </ion-item>

        <ng-template #EnCitySelector>
          <ion-item>
            <ion-label position="floating" style="height: 0px !important" no-padding no-margin></ion-label>

            <ion-select ok-text="Select" interface="action-sheet" [(ngModel)]="selectedCityString" (ionChange)="onSelectCity()"
              text-center>
              <!-- [value]="0" -->

              <ion-select-option value="0">United Arab Emirates</ion-select-option>
              <ion-select-option value="1">Dubai</ion-select-option>
              <ion-select-option value="2">Sharjah</ion-select-option>
              <ion-select-option value="3">Ajman</ion-select-option>
              <ion-select-option value="4">Abu Dhabi</ion-select-option>
              <!--
              <ion-select-option value="5">Al Ain</ion-select-option>
            -->
              <ion-select-option value="6">Fujairah</ion-select-option>
              <ion-select-option value="7">Ras Al-Khaimah</ion-select-option>
              <ion-select-option value="8">Umm Al-Quwain</ion-select-option>

            </ion-select>
          </ion-item>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>