<div class="grid-container clickable" (click)="viewProfile()" [class.extended]="extended">
  <div class="details-grid">
    <!-- NOTE: ROW 1 TITLE -->
    <div class="r1 company-name-row" text-nowrap>
      {{company?.profileName}}
    </div>

    <!-- NOTE: ROW 2 DETAILS GRID -->
    <div class="details-row-container">
      <div class="main-description-grid">

        <ion-icon name='pin' mode="md"></ion-icon>
        <div class="detail-name-text">City</div>
        <div class="detail-data">
          <ng-container [ngSwitch]="company?.city">

            <ng-container *ngSwitchCase="1">
              Dubai
            </ng-container>

            <ng-container *ngSwitchCase="2">
              Sharjah
            </ng-container>

            <ng-container *ngSwitchCase="3">
              Ajman
            </ng-container>

            <ng-container *ngSwitchCase="4">
              Abu Dhabi
            </ng-container>

            <!-- <ng-container *ngSwitchCase="5">
              Al Ain
            </ng-container> -->

            <ng-container *ngSwitchCase="6">
              Al Fujairah
            </ng-container>

            <ng-container *ngSwitchCase="7">
              Ras Al Khaima
            </ng-container>

            <ng-container *ngSwitchCase="8">
              Umm Al Quwain
            </ng-container>

          </ng-container>
        </div>

        <ion-icon name="call" mode="md"></ion-icon>
        <div class="detail-name-text">
          Phone
        </div>
        <div class="detail-data">
          {{company?.companyNumber}}
        </div>


        <ion-icon name="mail" mode="md"></ion-icon>
        <div class="detail-name-text">
          Email
        </div>
        <div class="detail-data">
          {{company?.email}}
        </div>

        <ion-icon name="pricetags"></ion-icon>
        <ng-container *ngIf="company?.accountType === 2 || company?.accountType === 3; else SupplierSpeciality">
          <div class="detail-name-text">
            Class
          </div>
          <div class="detail-data">
            <span [ngSwitch]="company?.class">
              <ng-container *ngSwitchCase="0">
                Special Grade
              </ng-container>
              <ng-container *ngSwitchCase="1">
                First Grade
              </ng-container>
              <ng-container *ngSwitchCase="2">
                Second Grade
              </ng-container>
              <ng-container *ngSwitchCase="3">
                Third Grade
              </ng-container>
              <ng-container *ngSwitchCase="4">
                Fourth Grade
              </ng-container>
              <ng-container *ngSwitchCase="5">
                Fifth Grade
              </ng-container>
              <ng-container *ngSwitchCase="6">
                Sixth Grade
              </ng-container>
              <ng-container *ngSwitchDefault>
              </ng-container>
            </span>
          </div>
        </ng-container>
        <ng-template #SupplierSpeciality>
          <div class="detail-name-text">
            Categories
          </div>
          <div class="detail-data-supplier">
            <ng-container *ngFor="let cat of company?.tags; let i = index">
              <span *ngIf="cat === 'category_paint'">
                Paint</span>
              <span *ngIf="cat === 'category_blocks'">
                Blocks</span>
              <span *ngIf="cat === 'category_ceramics'">
                Ceramics</span>
              <span *ngIf="cat === 'category_interlock'">
                Interlock</span>
              <span *ngIf="cat === 'category_wood'">
                Wood</span>
              <span *ngIf="cat === 'category_doors'">
                Doors</span>
              <span *ngIf="cat === 'category_fabric'">
                Fabric</span>
              <span *ngIf="cat === 'category_cement'">
                Cement</span>
              <span *ngIf="cat === 'category_gypsum'">
                Gypsum Board</span>
              <span *ngIf="cat === 'category_decoration'">
                Decoration</span>
              <span *ngIf="cat === 'category_glass'">
                Glass</span>
              <span *ngIf="cat === 'category_aluminium'">
                Aluminium</span>
              <span *ngIf="cat === 'category_kitchens'">
                Kitchens</span>
              <span *ngIf="cat === 'category_ac'">
                Air Conditioning</span>
              <span *ngIf="cat === 'category_lighting'">
                Lighting</span>
              <span *ngIf="cat === 'category_concrete'">
                Concrete</span>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- NOTE: ROW 3 RATINGS -->
    <div class="r3">
      <span [ngSwitch]="company?.TEST_RATING">
        <ng-container *ngSwitchCase="1">
          <ion-icon name="star"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchCase="4">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchCase="5">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchDefault>

        </ng-container>
      </span>
    </div>

    <!-- NOTE: ROW 4 COLORED COMPANY TYPE -->

  </div>

  <div class="r4">
    <ng-container [ngSwitch]="company?.accountType">
      <div *ngSwitchCase="1">
      </div>
      <div class="c2" *ngSwitchCase="2">
        Organization
      </div>
      <div class="c3" *ngSwitchCase="3">
        Contractor
      </div>
      <div class="c4" *ngSwitchCase="4">
        Supplier
      </div>
      <div *ngSwitchDefault>
      </div>
    </ng-container>
  </div>

</div>