textarea {
  width: calc(100% - 4px);
  resize: none;
  background: rgb(250, 250, 250);
}

ion-item {
  --border-width: 0 !important;
}

ion-list {
  background: transparent !important;
}

ion-label {
  font-size: 17px !important;
  font-weight: bold;
}

ion-select {
  font-weight: bold;
}
