ion-button {
    display: block;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

// ion-button>span {
//     height: 100px;
//     margin: 10px 0;
// }