<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'common.settings' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-button fill="clear" color="primary" expand="block" size="large" routerLink="/select-language"
          routerDirection="forward">
          <ion-icon name="globe" slot="start"></ion-icon>
          {{ 'pages.settings.change-language' | translate }}
        </ion-button>

      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>

        <ion-button routerLink="/" routerDirection="root" fill="clear" color="primary" expand="block" size="large">
          <ion-icon name="arrow-round-back"></ion-icon>
          {{'common.back' | translate}}
        </ion-button>

      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>






<!--  TABS UNUSED
  <ion-tabs>
    <ion-tab label="Music" icon="musical-note"></ion-tab>
    <ion-tab label="Profile" icon="person"></ion-tab>
    <ion-tab label="people" icon="people"></ion-tab>
  </ion-tabs> -->

<!-- <ion-item *ngFor="let item of items">
      <ion-label>
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-label>
    </ion-item> -->