<ion-header>

  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- TODO: MAKE HOME USE FIREBASE -->
  <!-- <ng-container *ngIf="(tender$ | async)?.length === 0;else hasEntries">
    <h2 class="no_entries">
      No entries
    </h2>
  </ng-container> -->

  <!-- <ng-template #hasEntries> -->
  <div class="flex-container">

    <!-- <ng-container *ngFor="let tender of tenders$ | async; let i = index"> -->
    <ng-container *ngFor="let tender of tenders; let i = index">

      <div class="tender-element-container">
        <app-tender-list-element [tender]="tender" [extended]="false">
        </app-tender-list-element>
      </div>

    </ng-container>

  </div>
  <!-- </ng-template> -->

</ion-content>





<ion-footer>

  <ion-toolbar color="light">

    <ion-row align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;"
      padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ion-item>
          <ion-label position="floating" style="height: 0px !important" no-padding no-margin></ion-label>

          <ion-select ok-text="Select" interface="action-sheet" [(ngModel)]="selectedCityString" (ionChange)="onSelectCity($event)">

            <ion-select-option value="0">All Cities</ion-select-option>
            <ion-select-option value="1">Dubai</ion-select-option>
            <ion-select-option value="2">Sharjah</ion-select-option>
            <ion-select-option value="3">Ajman</ion-select-option>
            <ion-select-option value="4">Abu Dhabi</ion-select-option>
            <!-- <ion-select-option value="5">Al Ain</ion-select-option> -->
            <ion-select-option value="6">Fujairah</ion-select-option>
            <ion-select-option value="7">Ras al-Khaimah</ion-select-option>
            <ion-select-option value="8">Umm al-Quwain</ion-select-option>

          </ion-select>

        </ion-item>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>