<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon name="arrow-round-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title transparent>login</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content background-size>
  <ion-grid no-padding>

    <ion-row align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;"
      padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ion-row margin-top padding-top align-self-end>

          <ion-col text-center>
            <img box-shadow [src]="logo" style="margin: 0 auto;">
          </ion-col>

        </ion-row>

        <div margin-top>

          <ion-label position="stacked">{{labelEmail}}</ion-label>

          <ion-input required type="text" placeholder="{{emailPlaceholder}}" [(ngModel)]="email"></ion-input>

          <!-- <ion-label error-field no-margin *ngIf="!isUsernameValid">{{errorUser}}</ion-label> -->

        </div>

        <div>
          <ion-label position="stacked">{{labelPassword}}</ion-label>

          <ion-input required type="password" placeholder="{{passwordPlaceholder}}" [(ngModel)]="password"></ion-input>

          <!-- <ion-label error-field no-margin *ngIf="!isPasswordValid">{{errorPassword}}</ion-label> -->
        </div>

      </ion-col>

    </ion-row>


    <ion-row no-padding>
      <ion-col text-center>
        <ion-button text-capitalize fill="clear" (click)="onForgotPassClick()">{{forgotPassword}}</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row no-padding>
      <ion-col text-center>
        <ion-button text-capitalize fill="clear" (click)="onBackPassClick()">GoBack</ion-button>
      </ion-col>
    </ion-row> -->

  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar color="light">

    <ion-row align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;"
      padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">


        <!---Login button-->
        <ion-button expand="block" mode="ios" text-uppercase (click)="onLoginClick()">
          <ion-icon name="person" mode="md"></ion-icon>&nbsp;{{login}}
        </ion-button>
        <!---google button-->
        <ion-button expand="block" mode="ios" text-uppercase (click)="onRegisterClick()">
          <ion-icon name="at" mode="md"></ion-icon>&nbsp;Create an Account
        </ion-button>

      </ion-col>
      <!---End Share Section-->
    </ion-row>
  </ion-toolbar>
</ion-footer>