<!-- <ion-tabs color="dark" tabbar-highlight tabbarLayout="label-hide"> -->
<ion-tabs color="secondary" tabbarLayout="label-hide" tabbarPlacement="bottom" tabbarHighlight="true">

  <ion-tab label="{{'common.home' | translate}}" icon="browsers" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>

  <!-- Add back badge=""! Make it equal to number of featured tenders or posted tenders -->
  <ion-tab label="{{'common.featured' | translate}}" icon="bookmarks" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="{{'common.search' | translate}}" icon="search" href="/tabs/(search:search)">
    <ion-router-outlet name="search"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="{{'common.profile' | translate}}" icon="person" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>

</ion-tabs>

<!-- OLD TABS
<ion-tabs color="light">
    <ion-tab label="home" icon="list-box" href="/tabs/(home:home)">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>

    <ion-tab label="Posted" icon="bookmarks" href="/tabs/(contact:contact)">
      <ion-router-outlet name="contact"></ion-router-outlet>
    </ion-tab>

    <ion-tab label="Search" icon="search" href="/tabs/(search:search)">
      <ion-router-outlet name="search"></ion-router-outlet>
    </ion-tab>

    <ion-tab label="Profile" icon="person" mode="material" href="/tabs/(profile:profile)">
      <ion-router-outlet name="profile"></ion-router-outlet>
    </ion-tab>
  </ion-tabs> -->