@import "../../../theme/mixins.scss";

* {
  font-family: "a-jannat-lt";
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;

  & > * {
    @include for-desktop-up {
      zoom: 102%;
    }
  }
}

.company-element-container {
  justify-self: center;
}
