@import "../../../theme/mixins.scss";
@import "../../../theme/variables.scss";

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  // margin-left: 15px;
  // margin-right: 15px;
}
