<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
        <ng-container *ngIf="translate.currentLang === 'ar'" class="dir-rtl">
          العودة
        </ng-container>
        <ng-container *ngIf="translate.currentLang === 'en'">
          Back
        </ng-container>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ng-container *ngIf="translate.currentLang === 'ar'" class="dir-rtl">
        تصفح مناقصة
      </ng-container>
      <ng-container *ngIf="translate.currentLang === 'en'">
        View Tender
      </ng-container>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="tender != null; else NotFound">
    <div class="flex-container">

      <app-tender-list-element [tender]="tender" [extended]="true">
      </app-tender-list-element>

      <app-company-list-element [company]="company" [extended]="true">
      </app-company-list-element>

    </div>

  </ng-container>

  <ng-template #NotFound>
    <ng-container *ngIf="showNotFound && !deleted">
      <h2 padding text-center>
        <ng-container *ngIf="translate.currentLang === 'ar'" class="dir-rtl">
          لم يتم العثور على المناقصة
        </ng-container>
        <ng-container *ngIf="translate.currentLang === 'en'">
          Tender Not Found!
        </ng-container>
      </h2>
      <br>
      <ion-row>
        <ion-col align-self-center size="3" size-sm="3" size-md="3" size-lg="3" size-xl="3" style="margin: 0 auto;">
          <ion-button expand="block" mode="ios" (click)="goBack()">
            <ng-container *ngIf="translate.currentLang === 'ar'" class="dir-rtl">
              العودة
            </ng-container>
            <ng-container *ngIf="translate.currentLang === 'en'">
              Go Back
            </ng-container>

          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-template>

</ion-content>

<!-- _: Footer Part -->
<ng-container *ngIf="user != null">
  <!-- Is a consultant -->
  <ng-container *ngIf="user.accountType === 3">
    <!-- Didn't create the tender -->
    <ion-footer *ngIf="user.uid !== tender.uid">


      <!-- <ion-toolbar color="light"> -->
        <ion-row padding-horizontal>

          <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

            <!-- NOTE: Join Tender Button -->
            <ion-button expand="block" mode="ios" (click)="joinTender()">
              <ng-container *ngIf="translate.currentLang === 'ar'" class="dir-rtl">
                الإشتراك في المناقصة
              </ng-container>
              <ng-container *ngIf="translate.currentLang === 'en'">
                Join Tender
              </ng-container>
            </ion-button>

          </ion-col>

        </ion-row>
      <!-- </ion-toolbar> -->

    </ion-footer>
  </ng-container>

  <!-- consultant or admin -->
  <ng-container *ngIf="user.accountType === 2 || user.accountType === 5">
    <!-- created the tender or admin -->
    <ion-footer *ngIf="(tender != null && user.uid === tender.uid) || user.accountType === 5">

      <!-- <ion-toolbar color="light"> -->
        <ion-row padding-horizontal>

          <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

            <!-- NOTE: Join Tender Button -->
            <ion-button expand="block" mode="ios" (click)="deleteTender()">
              <ng-container *ngIf="translate.currentLang === 'ar'" class="dir-rtl">
                مسح المناقصة
              </ng-container>
              <ng-container *ngIf="translate.currentLang === 'en'">
                Delete Tender
              </ng-container>
            </ion-button>

          </ion-col>

        </ion-row>
      <!-- </ion-toolbar> -->

    </ion-footer>

  </ng-container>
</ng-container>


<!-- _: Save Tender - Ignored
<ion-footer *ngIf="company != null && company.accountType === 2">
  <ion-toolbar color="light">
    <ion-row padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ion-button expand="block" mode="ios" type="submit" (click)="saveTender()">
          <ion-icon name="add-circle" mode="ios" color="light"></ion-icon>&nbsp;Save Tender
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
 -->