@import "../../../theme/mixins.scss";

.flex-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  background: none;
}

.comments-header {
  @include m7bold;
  font-size: 1em;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  width: 100%;
}

.no-comments-header {
  color: #7c7c7c;
}

.not-logged-in-button-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.not-logged-in-button {
  align-self: center;
  justify-self: center;
}

ion-footer {
  min-height: 70px !important;
}
