<ion-header>
  <ion-toolbar>

    <ion-title>
      Join Tender Details
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list padding-top style="background: transparent">
    <ion-item mode="ios" strong>
      <ion-label text-wrap style="font-weight: bold; font-size: 1.1rem; padding-left: 20px; padding-right: 20px;">
        Contact the tender creator for any questions or to submit your tender proposal.</ion-label>
    </ion-item>

    <ion-item *ngIf="tender.tenderContactWhatsapp && tender.tenderContactWhatsapp != ''">
      <ion-label strong>Whatsapp:</ion-label>
      <ion-button strong fill="clear" size="default" (click)="openWhatsapp()" title="Click to Message">{{tender.tenderContactWhatsapp}}</ion-button>
    </ion-item>

    <ion-item *ngIf="tender.tenderContactEmail != null && tender.tenderContactEmail != ''">
      <ion-label strong>Email</ion-label>
      <ion-button strong fill="clear" size="default" (click)="sendEmail()" title="Click to Email">{{tender.tenderContactEmail}}</ion-button>
    </ion-item>

    <ion-item *ngIf="tender.tenderContactNumber != null && tender.tenderContactNumber != ''">
      <span slot="start" class="dot"></span>
      <ion-label>Mobile Number</ion-label>
      <ion-button position="start" title="Click to Call">{{tender.tenderContactNumber}}</ion-button>
    </ion-item>

  </ion-list>
</ion-content>