@mixin m7bold {
  font-weight: 400; /* for iphone and safari */
  //font-weight: bold; /* for android and chrome */
}

@mixin for-small-phone-only {
  //xxs
  @media (min-width: 1px) and(max-width: 365px) {
    @content;
  }
}

@mixin for-phone-only {
  //xs
  @media (min-width: 366px) and (max-width: 575px) {
    @content;
  }
}

@mixin for-tablet-portrait {
  //sm
  @media (min-width: 576px) {
    @content;
  }
}

@mixin for-tablet-landscape {
  //md
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  //lg
  @media (min-width: 992px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  //xl
  @media (min-width: 1200px) {
    @content;
  }
}
/*
example:
    @include for-phone-only {
        font-size: 1.2rem;
        width: 30vw;
    }

    @include for-tablet-portrait {
        text-align: center;
        font-size: 2rem;
        width: 10rem;
    }

    @include for-tablet-landscape {
        text-align: center;
        font-size: 2rem;
        width: 14rem;
    }
*/

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@mixin allow-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: default;
}
