@import "../../../theme/mixins.scss";

* {
  font-family: "a-jannat-lt";
}

ion-input {
  text-align: center;

  &::placeholder {
    text-align: center;
  }
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 15px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

img {
  max-width: 160px;
  max-height: 160px;
  display: block;
  border-radius: 0px;

  @include for-small-phone-only {
    max-width: 100px;
  }

  @include for-phone-only {
    max-width: 120px;
  }

  @include for-tablet-portrait {
    width: 10rem;
  }

  @include for-tablet-landscape {
    width: 14rem;
  }
}

div {
  padding-left: 0 !important;
  padding-bottom: 15px !important;
  border-style: none;
  border-width: 0; //

  .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
    padding-right: 0 !important;
    border-width: 0;
  }

  ion-input {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
    margin: 9px 10px !important;
    padding: 5px 10px !important;
    width: calc(100% - 9px);
    border-radius: 5px;
    z-index: 999;
    border-width: 0;

    .input-cover {
      display: none;
    }
  }

  ion-label {
    margin: 0 5px !important;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  }
}

.item {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

[stacked] {
  font-size: 10px !important;
}

[description] {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;

  a {
    color: theme-colors("textColors", "accent") !important;
  }

  p {
    color: theme-colors("textColors", "primary") !important;
  }
}

// Settings ion-button
[bottom-form] {
  margin-bottom: 13px;

  ion-button:nth-child(1) {
    margin: 12px 0;
  }

  ion-button:nth-child(2) {
    color: theme-colors("textColors", "primary") !important;
    background: theme-colors("mainColors", "primary") !important;
  }
}

[login-title] {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

[login-subtitle] {
  color: color(lightblue, login-subtitle-logo-1);
}

[box-shadow] {
  border: 0 3px 15px rgba(0, 0, 0, 0.2) !important;
  border-style: solid !important;
  box-shadow: none !important;
}
