@import "../../../theme/mixins.scss";

* {
  font-family: "a-jannat-lt";
}

.flex-container {
  display: flex;

  justify-content: space-evenly; //GOOD

  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 17px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;

  & > * {
    @include for-desktop-up {
      zoom: 107%;
    }
  }
}

.tender-element-container {
  justify-self: center;
}
