<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>

      <ng-container [ngSwitch]="user?.accountType">
        <ng-container *ngSwitchCase="1">
          Featured Tenders
        </ng-container>
        <ng-container *ngSwitchCase="2">
          Posted Tenders
        </ng-container>
        <ng-container *ngSwitchCase="3">
          Joined Tenders
        </ng-container>
        <ng-container *ngSwitchCase="4">
          Featured Tenders
        </ng-container>
        <ng-container *ngSwitchDefault>
          Featured Tenders
        </ng-container>
      </ng-container>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-container">

    <ng-container *ngFor="let tender of tenders; let i = index">
      <ng-container *ngIf="tenders?.length !== 0;else NoFeaturedEntries">

        <div class="tender-element-container">
          <app-tender-list-element [tender]="tender">
          </app-tender-list-element>
        </div>

      </ng-container>
    </ng-container>

  </div>
</ion-content>


<ion-footer *ngIf="user?.accountType === 2">

  <ion-toolbar color="light">

    <ion-row padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ion-button expand="block" mode="ios" href="/create-tender" routerDirection="forward">
          <ion-icon name="add-circle" mode="ios"></ion-icon>&nbsp;Create Tender
        </ion-button>

        <!-- NOTE: I'M USING THIS TO CREATE FAKE TENDERS IN FIREBASE FAST!! -->
        <!-- <ion-button expand="block" mode="ios" type="submit" (click)="createFakeTender()">
          <ion-icon name="add-circle" mode="ios"></ion-icon>&nbsp;Create Fake Tender
          </ion-button> -->

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ng-template #NoFeaturedEntries>
  <ion-row justify-content-center>
    <ion-col text-center align-items-center>
      <h1>No Featured Entries to Show</h1>
      <!-- <h2>Click the Button to Create One!</h2> -->
      <!-- <ion-button type="bar-button" mode="ios" text-uppercase href="/login" routerDirection="forward">
        <ion-icon name="at" mode="md"></ion-icon>&nbsp;Log In
      </ion-button> -->
    </ion-col>
  </ion-row>
</ng-template>

<ng-template #ConsultantNoEntries>
  <ion-row justify-content-center>
    <ion-col text-center align-items-center>
      <h1>You Haven't Created Any Tenders Yet!</h1>
      <h2>Click the Button to Create One!</h2>
      <!-- <ion-button type="bar-button" mode="ios" text-uppercase href="/login" routerDirection="forward">
        <ion-icon name="at" mode="md"></ion-icon>&nbsp;Log In
      </ion-button> -->
    </ion-col>
  </ion-row>
</ng-template>

<ng-template #ContractorNoEntries>
  <ion-row justify-content-center>
    <ion-col text-center align-items-center>
      <h1>You Haven't Joined Any Tenders Yet!</h1>
      <h2>Browse the Home Tab to Find Some!</h2>
      <!-- <ion-button type="bar-button" mode="ios" text-uppercase href="/login" routerDirection="forward">
        <ion-icon name="at" mode="md"></ion-icon>&nbsp;Log In
      </ion-button> -->
    </ion-col>
  </ion-row>
</ng-template>

<!--
<ng-container [ngSwitch]="user?.accountType">

    <ng-container *ngSwitchCase="1">
      <ng-container *ngFor="let tender of tenders; let i = index">
        <ng-container *ngIf="tenders?.length !== 0;else NoFeaturedEntries">

          <div class="tender-element-container">
            <app-tender-list-element [tender]="tender">
            </app-tender-list-element>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="2">
      <ng-container *ngFor="let tender of tenders; let i = index">
        <ng-container *ngIf="tenders?.length !== 0;else ConsultantNoEntries">

          <div class="tender-element-container">
            <app-tender-list-element [tender]="tender">
            </app-tender-list-element>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="3">
      <ng-container *ngFor="let tender of tenders; let i = index">

        <ng-container *ngIf="tenders?.length !== 0;else ContractorNoEntries">

          <div class="tender-element-container">
            <app-tender-list-element [tender]="tender">
            </app-tender-list-element>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="4">
      <ng-container *ngFor="let tender of tenders; let i = index">
        <ng-container *ngIf="tenders?.length !== 0;else NoFeaturedEntries">

          <div class="tender-element-container">
            <app-tender-list-element [tender]="tender">
            </app-tender-list-element>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container> -->