<ion-app style="max-width: 1140px; margin: 0 auto;">
  <!-- <ion-split-pane> -->
  <ion-menu side="start" id="mainMenu">

    <ion-header>

      <ion-toolbar color="light">
        <ion-title>Menu</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false">
          <!-- NOTE: IF LOGGED IN THEN SHOW LOG OUT BUTTON-->
          <ng-container *ngIf="auth?.user$ | async as user; else logIn">
            <ion-item *ngIf="user" [routerLink]="['/view-profile', auth.user.uid]" routerDirection="forward">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                {{auth.user.profileName}}
              </ion-label>
            </ion-item>

            <ion-item *ngIf="auth?.user" routerDirection="forward" routerLink="/logout">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log Out
              </ion-label>
            </ion-item>
          </ng-container>

          <!-- NOTE: THEN SHOW THE REST OF THE ITEMS-->
          <ng-container *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">

              <ion-icon slot="start" [name]="p.icon"></ion-icon>

              <ion-label>
                {{p.title}}
              </ion-label>

            </ion-item>
          </ng-container>


        </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- NOTE: MAIN ROUTER OUTLET FOR THE APP-->
  <ion-router-outlet main></ion-router-outlet>

  <!-- </ion-split-pane> -->

</ion-app>

<!-- NOTE: IF NOT LOGGED IN THEN SHOW LOG IN & REGISTER BUTTONS-->
<ng-template #logIn>
  <ion-item routerDirection="forward" routerLink="/login">

    <ion-icon slot="start" name="log-in"></ion-icon>

    <ion-label>
      Log In
    </ion-label>

  </ion-item>

  <ion-item routerDirection="forward" routerLink="/register">

    <ion-icon slot="start" name="at"></ion-icon>

    <ion-label>
      Register
    </ion-label>

  </ion-item>
</ng-template>