<ion-slides pager="true">

  <!-- NOTE: STEP ONE -->
  <ion-slide class="step-one">
    <div class="img">
      <ion-img src="./assets/icon/helmet.svg"></ion-img>
    </div>
    <h1>Welcome to Memar</h1>
    <div class="subtitle">
      <h3 text-center margin-horizontal padding-horizontal>
        We strive to be the destination for<br>
        Consultants, Contractors, and Suppliers in the UAE!<br>
      </h3>
    </div>
    <ion-button size="large" fill="clear" color="dark" (click)="next()">Swipe Right!</ion-button>

  </ion-slide>

  <!-- NOTE: Why Memar -->
  <ion-slide class="step-two">
    <div class="img">
      <ion-img src="./assets/icon/construction.svg"></ion-img>
    </div>
    <h1>Why Memar?</h1>

    <div class="subtitle">
      <h3 margin-horizontal padding-horizontal>
        ◾ &nbsp;We allow you to bid on tenders from all over the UAE!<br>
        ◾ &nbsp;Add your tenders and we'll get you the best prices!<br>
        ◾ &nbsp;Recieve notifications for new tenders around you!<br>
        ◾ &nbsp;Get all of the Tender's specs online!<br>
        ◾ &nbsp;Search for suppliers of all specialities!<br>
      </h3>
    </div>
    <ion-button size="large" fill="clear" color="dark" (click)="next()">Swipe Right!</ion-button>
  </ion-slide>

  <!-- NOTE: Benefits for Consultants -->
  <ion-slide class="step-two">
    <div class="img">
      <ion-img src="./assets/icon/construction.svg"></ion-img>
    </div>
    <h1>Benefits for Consultants!</h1>

    <div class="subtitle">
      <h3 margin-horizontal padding-horizontal>
        ◾ &nbsp;Get a massive amount of participants in your tenders easily!<br>
        ◾ &nbsp;Add your tenders and we'll get you the best prices!<br>
        ◾ &nbsp;Get rated and found by individuals that are looking for a consultant!<br>
        ◾ &nbsp;Search for suppliers of all specialities!<br>
      </h3>
    </div>
    <ion-button size="large" fill="clear" color="dark" (click)="next()">Swipe Right!</ion-button>
  </ion-slide>

  <!-- NOTE: Benefits for Contractors -->
  <ion-slide class="step-two">
    <div class="img">
      <ion-img src="./assets/icon/construction.svg"></ion-img>
    </div>
    <h1>Benefits for Contractors!</h1>

    <div class="subtitle">
      <h3 margin-horizontal padding-horizontal>
        ◾ &nbsp;We allow you to bid on tenders from all over the UAE!<br>
        ◾ &nbsp;Recieve notifications for new tenders around you!<br>
        ◾ &nbsp;Get all of the Tender's specs online!<br>
        ◾ &nbsp;Individuals will be able to find you on our platform!<br>
        ◾ &nbsp;Search for suppliers of all specialities!<br>
      </h3>
    </div>
    <ion-button size="large" fill="clear" color="dark" (click)="next()">Swipe Right!</ion-button>
  </ion-slide>

  <!-- NOTE: Benefits for Individuals -->
  <ion-slide class="step-two">
    <div class="img">
      <ion-img src="./assets/icon/construction.svg"></ion-img>
    </div>
    <h1>Benefits for Individuals!</h1>

    <div class="subtitle">
      <h3 margin-horizontal padding-horizontal>
        ◾ &nbsp;Find the best contractors & consultants according to community ratings!<br>
        ◾ &nbsp;Search for suppliers of all specialities!<br>
        ◾ &nbsp;Find out about all the important housing programs in UAE! (Coming soon)<br>
      </h3>
    </div>
    <ion-button size="large" fill="clear" color="dark" (click)="next()">Swipe Right!</ion-button>
  </ion-slide>


  <!-- NOTE: STEP THREE -->
  <ion-slide class="step-three">
    <div class="img">
      <ion-img src="./assets/icon/maintenance.svg"></ion-img>
    </div>
    <h1>We're Happy to Help!</h1>
    <div class="subtitle">
      <h3 margin-horizontal padding-horizontal>
        If you need to reach us: <br>
        📞 Call as at 04-5362367<br>
        📧 Email us at info@memar.ae<br>
      </h3>
    </div>
    <ion-button size="large" fill="outline" color="dark" (click)="finish()">Let's Go!</ion-button>

  </ion-slide>

</ion-slides>