@import "../../../theme/mixins.scss";

$break-small: 768px;
$break-large: 1200px;
#container {
  @media only screen and (max-width: $break-small) {
    // background-image: url("/resources/backgrounds/newyork-city-blue-small.jpg");
  }
  @media only screen and (min-width: $break-small) {
    // background-image: url("/resources/backgrounds/newyork-city-blue-large.jpg");
  }
  background-repeat: no-repeat; // background-position: center center;
  background-size: auto 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 99%;
  margin: 0 !important;
  padding: 0;
}

#container:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 50px;
}

#container:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 50px;
}

// ion-button {
//     text-align: center;
//     font-size: 2rem;
//     width: 14rem;
//     @media only screen and (min-width: $break-small) {
//         font-size: 2rem;
//         width: 10rem;
//     }
// }

ion-button {
  @include for-phone-only {
    font-size: 1.2rem;
    width: 30vw;
  }

  @include for-tablet-portrait {
    text-align: center;
    font-size: 2rem;
    width: 10rem;
  }

  @include for-tablet-landscape {
    text-align: center;
    font-size: 2rem;
    width: 14rem;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  width: 90%;
  color: --ion-color-dark;
  padding-bottom: 200px;

  @media only screen and (min-width: $break-small) {
    font-size: 2rem;
    width: 20rem;
  }
}
