<ion-row padding style="border-radius: 50px;">
  <ion-col size-sm="12" size-md="12" size-xl="6">


    <ion-list>
      <ion-item>
        <ion-note slot="start" class="heading">Project Name Here</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label slot="start">City:</ion-label>
        <ion-note slot="start">Sharjah</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Publish Date</ion-label>
        <ion-note slot="start">2018-09-15</ion-note> <!-- User Date Pipe + createdAt here-->
      </ion-item>

      <ion-item>
        <ion-button slot="end">
          More Details
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-note slot="start" class="heading">Project Name Here</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">City</ion-label>
        <ion-note slot="start">Sharjah</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Publish Date</ion-label>
        <ion-note slot="start">2018-09-15</ion-note> <!-- User Date Pipe + createdAt here-->
      </ion-item>

      <ion-item>
        <ion-button slot="end">
          More Details
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-note slot="start" class="heading">Project Name Here</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">City</ion-label>
        <ion-note slot="start">Sharjah</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Publish Date</ion-label>
        <ion-note slot="start">2018-09-15</ion-note> <!-- User Date Pipe + createdAt here-->
      </ion-item>

      <ion-item>
        <ion-button slot="end">
          More Details
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-col>


  <ion-col size-sm="12" size-md="12" size-xl="6">
    <ion-list>
      <ion-item>
        <ion-note slot="start" class="heading">Project Name Here</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">City</ion-label>
        <ion-note slot="start">Sharjah</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Publish Date</ion-label>
        <ion-note slot="start">2018-09-15</ion-note> <!-- User Date Pipe + createdAt here-->
      </ion-item>

      <ion-item>
        <ion-button slot="end">
          More Details
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-note slot="start" class="heading">Project Name Here</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">City</ion-label>
        <ion-note slot="start">Sharjah</ion-note>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Publish Date</ion-label>
        <ion-note slot="start">2018-09-15</ion-note> <!-- User Date Pipe + createdAt here-->
      </ion-item>

      <ion-item>
        <ion-button slot="end">
          More Details
        </ion-button>
      </ion-item>
    </ion-list>

  </ion-col>
</ion-row>