@import "../../../theme/mixins.scss";
@import "../../../theme/variables.scss";

// REPLACE ALL FONT-WEIGHT 5 00 TO B OLD WHEN DOING A CHROME BUILD.
// AND DO 5 00 FOR iOS BUILD
.clickable {
  cursor: pointer !important;

  & * {
    cursor: pointer !important;
  }
}

.grid-container {
  display: inline-grid;

  width: 90vw;
  max-width: 350px;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.05);

  margin-bottom: 10px;

  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;

  // @include for-desktop-up {
  //   margin-right: 10px;
  //   margin-left: 10px;
  // }

  .image-col-grid {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 1fr;

    border-radius: 20px 0 0 20px;
    margin-right: 15px;
    box-shadow: inset -5px 0px 30px 0px rgba(0, 0, 0, 0.2);
    justify-items: center;

    .featured {
      grid-row: 1;
      align-self: center;
      font-size: 0.75rem;
      @include m7bold;
      color: rgba(255, 255, 255, 0.733);
    }

    img {
      display: block;
      grid-row: 3/4;
      align-self: end;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      filter: invert(1);
    }

    div.category-row {
      grid-row: 4;
      align-self: center;
      font-size: 0.8rem;
      @include m7bold;
      color: rgba(255, 255, 255, 0.733);
    }
  }

  .c1 {
    background-color: rgba(28, 179, 53, 0.7);
  }
  .c2 {
    background-color: rgba(179, 156, 28, 0.7);
  }
  .c3 {
    background-color: rgba(136, 28, 179, 0.7);
    img {
      padding-left: 17px;
      padding-right: 17px;
    }
  }
  .c4 {
    background-color: rgba(179, 28, 35, 0.7);
  }
  .c5 {
    background-color: rgba(28, 43, 179, 0.7);
    img {
      padding-left: 17px;
      padding-right: 17px;
    }
  }
  .c6 {
    background-color: rgba(179, 76, 28, 0.7);
  }
  .c7 {
    background-color: rgba(179, 28, 61, 0.7);
    img {
      padding-left: 17px;
      padding-right: 17px;
    }
  }
  .c8 {
    background-color: rgba(28, 106, 179, 0.7);
  }

  .details-col-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding-top: 12px;
    padding-bottom: 20px;

    .tender-title-row {
      font-size: 0.95rem;
      @include m7bold;
      align-self: end;
      color: rgb(46, 46, 46);

      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
      max-height: 50px;
      overflow: hidden;

      > * {
        align-self: end;
      }
    }

    .company-name-row {
      font-size: 0.75rem;
      align-self: center;
      color: rgb(78, 78, 78);
    }

    .details-row-container {
      align-content: center;
      padding-top: 10px;
      padding-left: 5px;

      .main-description-grid {
        display: grid;
        grid-column: 3;
        grid-template-columns: 0.25fr 0.6fr 1fr;
      }

      .main-description-grid.arabic {
        direction: rtl; // flips all the columns.
      }

      ion-icon {
        align-self: center;
        font-size: 0.9rem;
        margin-top: 2px;
      }

      .detail-name-text {
        font-size: 0.75rem;
        align-self: end;
        padding-inline-end: 25px;
      }

      .detail-data {
        font-size: 0.75rem;
        @include m7bold;
        align-self: end;
      }
    }
  }

  .ar-details-col-grid {
    direction: rtl;

    .tender-title-row {
      text-align: center;
      margin-right: 20px;
      direction: ltr;
    }

    .company-name-row {
      text-align: center;
      direction: ltr;
      margin-right: 20px;
    }

    .details-row-container {
      margin-right: 40px;
    }
  }
}

// NOTE: EXTENDED CONTAINER
// NOTE: EXTENDED CONTAINER
// NOTE: EXTENDED CONTAINER
// NOTE: EXTENDED CONTAINER

.extended-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90vw;
  max-width: 350px;

  border-radius: 20px;
  margin: 15px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.05);

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;

  .title {
    font-size: 0.85rem;
    @include m7bold;
    color: rgb(46, 46, 46);
    margin-top: 0;
    @include m7bold;
  }

  .extended-inner-grid {
    align-content: center;
    padding-top: 10px;
    padding-left: 5px;

    display: grid;
    grid-column: 3;
    grid-template-columns: 0.2fr 0.6fr 1fr;

    .summary {
      padding-top: 6px;
      padding-bottom: 6px;
      @include m7bold;
    }

    ion-icon {
      align-self: center;
      font-size: 0.85rem;
      margin-top: 2px;
    }

    .detail-name-text {
      font-size: 0.85rem;
      align-self: center;
      padding-right: 10px;
      @include m7bold;
    }

    .detail-data {
      font-size: 0.85rem;
      align-self: top;
      @include m7bold;
    }

    .sector-data {
      text-align: center;
      @include m7bold;
    }

    .attachment-button {
      display: block;
      @include m7bold;
      height: 30px;
    }
  }
}

.ended {
  color: rgb(207, 0, 0);
}

.ending-soon {
  color: rgb(212, 98, 21);
}
