<ng-container>
  <div class="grid-container">



    <div class="image-col-grid">
      <img src="/assets/icon/cement.svg">
      <div class="category-row">
        Construction
      </div>
    </div>

    <div class="details-col-grid">

      <div class="row-1 tender-title-row">
        Construction of School in Qusais
      </div>

      <div class="row-2 company-name-row">
        Emirates Consulting
      </div>
      <div class="row-3 details-row-container">
        <div class="main-description-grid" [class.arabic]="lang === 'ar'">

          <ion-icon name='pin' mode="md"></ion-icon>
          <div class="detail-name-text">City</div>
          <div class="detail-data">Abu Dhabi</div>

          <ion-icon name="checkmark-circle-outline" mode="md"></ion-icon>
          <div class="detail-name-text">Status</div>
          <div class="detail-data">Recent</div>

          <ion-icon name='alarm' mode="md"></ion-icon>
          <div class="detail-name-text">Published</div>
          <div class="detail-data">15-09-2018</div>

          <div></div>
          <div class="detail-name-text">Deadline</div>
          <div class="detail-data">20-10-2018</div>

        </div>
      </div>

    </div>
  </div>

</ng-container>