@import "../../../../theme/mixins.scss";

.center {
  text-align: center !important;
}

ion-label {
  text-align: start;
  font-size: 1.2rem !important;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 15px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

ion-input {
  text-align: center;

  &::placeholder {
    text-align: center;
  }
}

ion-button {
  --margin-start: 0;
}

// ion-list {
//   // --inner-border-width: 0 !important;
// }

ion-checkbox {
  --border-style: none;
  --inner-border-width: 0 !important;

  .item-cover {
    display: none;
  }
}

ion-select {
  // text-align: ;
  // --ion-border-width: 0 !important;

  &::placeholder {
    text-align: center;
  }
}

ion-grid {
  height: 100%;
}

// Settings Logo
img {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 24px;
  display: block;
  border-radius: 0;
}

div {
  padding-left: 0 !important;
  padding-bottom: 15px !important;
  border-style: none;
  border-width: 0; //

  .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
    padding-right: 0 !important;
    border-width: 0;
  }

  ion-input {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
    margin: 9px 10px !important;
    padding: 5px 10px !important;
    width: calc(100% - 9px);
    border-radius: 5px;
    z-index: 999;
    border-width: 0;

    .input-cover {
      display: none;
    }
  }

  ion-label {
    margin: 0 5px !important;
  }
}

.item {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

[stacked] {
  font-size: 10px !important;
}

[description] {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;

  a {
    color: theme-colors("textColors", "accent") !important;
  }

  p {
    color: theme-colors("textColors", "primary") !important;
  }
}

[bottom-form] {
  margin-bottom: 13px;

  ion-button:nth-child(1) {
    margin: 12px 0;
  }

  ion-button:nth-child(2) {
    color: theme-colors("textColors", "primary") !important;
    background: theme-colors("mainColors", "primary") !important;
  }
}

[login-title] {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

[login-subtitle] {
  color: color(lightblue, login-subtitle-logo-1);
}

[box-shadow] {
  border: 0 3px 15px rgba(0, 0, 0, 0.2) !important;
  border-style: solid !important;
  box-shadow: none !important;
}

.no-lines,
.no-lines * {
  --inner-border-width: 0 !important;
  text-align: left !important;
}

input[type="file"] {
  position: static;
  display: block;
  transform: scale(1.2);
  width: 13.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.select-cover {
  width: 0 !important;
  height: 0 !important;
}

#upload-percent {
  display: block;
  padding: 20px;
  text-align: center !important;
  font-size: 1.5rem;
  @include m7bold;
  color: theme-colors("textColors", "primary");
}

#upload-image {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-style: solid;
  width: 80% !important;
  height: auto;
}

ion-checkbox {
  --background: #888888 !important;
}
