<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon name="arrow-round-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title transparent>
      Password Reset
    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- TODO: HOOK UP FORGOT PASS WITH FIREBASE [AFTER END] -->



<ion-content background-size>
  <ion-grid no-padding>


    <ion-row size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;" padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ng-container>


          <div style="padding-top: 50%;">
            <ion-label position="stacked" class="label">Enter the registered email<br> and we'll send you a reset link!</ion-label>

            <ion-input required type="text" placeholder="Enter your email" [(ngModel)]="user.email" name="email"></ion-input>

          </div>

        </ng-container>


      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>

  <ion-toolbar color="light">

    <ion-row align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;"
      padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ion-button expand="block" mode="ios" text-uppercase>
          <ion-icon name="at" mode="md"></ion-icon>&nbsp;Confirm
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>