<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon name="arrow-round-back"></ion-icon>
        {{'common.back' | translate}}
      </ion-button>
    </ion-buttons>

    <ion-title transparent>
      {{'pages.login.forgot-password.password-reset' | translate}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content background-size>
  <ion-grid no-padding>
    <ion-row padding-horizontal>
      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ng-container>


          <div style="padding-top: 50%;" [class.ar]="translate.currentLang === 'ar'">
            <ion-label position="stacked" class="label" *ngIf="translate.currentLang === 'en'">Enter the
              registered email<br> and we'll send you a reset link!</ion-label>
            <ion-label position="stacked" class="label dir-rtl" *ngIf="translate.currentLang === 'ar'">أدخل
              البريد المسجل<br>
              وسنرسل لك رسالة إعادة كلمة السر</ion-label>

            <ion-input style="direction: ltr;" required type="text" placeholder="" [(ngModel)]="email" name="email" text-center></ion-input>
          </div>

        </ng-container>


      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>

  <!-- <ion-toolbar color="light"> -->

    <ion-row padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <ion-button expand="block" mode="ios" text-uppercase (click)="resetPassword()">
          <ion-icon name="at" mode="md"></ion-icon>&nbsp;
          {{ 'common.confirm' | translate }}
        </ion-button>

      </ion-col>
    </ion-row>
  <!-- </ion-toolbar> -->
</ion-footer>