// http://ionicframework.com/docs/theming/
@charset "UTF-8";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/animate.scss";
@import "theme/mixins.scss";

// @import "theme/main-theme.scss";
@font-face {
  font-family: "a-jannat-lt";
  //  Woff2: Super Modern Browsers
  //  Woff: Pretty Modern Browsers
  //  ttf: Safari, Android, iOS
  src: url("/assets/fonts/a-jannat-lt.woff2") format("woff2"),
    url("/assets/fonts/a-jannat-lt.woff") format("woff"),
    url("/assets/fonts/a-jannat-lt.ttf") format("truetype");
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none; // mac ff fix
  -webkit-font-smoothing: antialiased; // safari mac nicer
  -moz-osx-font-smoothing: grayscale; // fix fatty ff on mac
}

@mixin m7bold {
  font-weight: 500 !important;
}

// .flex-container {
//   // background: white url("./assets/images/background/electro1.jpg") no-repeat top    center fixed;
//   // background-color
//   // --background: url("./assets/images/background/electro1.jpg") no-repeat 100% 100% !important;
//   background: none;
//   background-image: url("./assets/images/background/electro1.jpg") !important;
//   background-position: center !important;
//   background-size: cover !important;
//   background-repeat: no-repeat !important;
//   background-origin: initial !important;
//   background-clip: initial !important;
//   background-attachment: fixed !important;
// }

ion-item {
  --ion-background-color: transparent;
  --padding-start: 0;
}

ion-content {
  // --background: url("./assets/images/background/electro1.jpg") no-repeat 100%
  //   100% !important;
  --background: url("./assets/images/background/yak.jpg") right center/100% 100% no-repeat fixed;
  // background-size: 1% 1% !important;
  // background-position: bottom right;
  // background-attachment: fixed;
  // background-size: ;
}

.m7toast {
  --ion-safe-area-bottom: 120px;
  --background: rgba(73, 73, 73, 0.7);
  // background: rgba(73, 73, 73, 0.5);
  @include m7bold;
  color: rgb(245, 245, 245);
  text-align: center !important;
  div {
    color: rgb(245, 245, 245);
    padding: 0 auto !important;
    width: auto;
    text-align: center !important;
  }
}

.ar {
  text-align: right !important;
  direction: rtl !important;
  --ion-font-family: "a-jannat-lt";
  font-family: "a-jannat-lt";
}

.dir-rtl {
  direction: rtl !important;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
button,
input,
select,
textarea {
  font-family: "a-jannat-lt";
  @include no-select;
  --ion-font-family: "a-jannat-lt";
  text-transform: none !important; // mac ff fix
  -webkit-font-smoothing: antialiased !important; // safari mac nicer
  -moz-osx-font-smoothing: grayscale !important; // fix fatty ff on mac
}

.bold {
  @include m7bold;
}

.center {
  text-align: center !important;
}

.native-input {
  position: relative;
  top: 6.5px;
  left: -5px;
  border: 0;
  outline: 0;
  padding: 5px;
}

// shadow
ion-app {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
}

.no-border-label {
  --border-style: 0 !important;
}

ion-title {
  @include m7bold;
}