// http://ionicframework.com/docs/theming/
@charset "UTF-8";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/animate.scss";
@import "theme/mixins.scss";

// @import "theme/main-theme.scss";
@font-face {
  font-family: "a-jannat-lt";
  src: url("/src/assets/fonts/a-jannat-lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

ion-content {
  background: url("assets/images/background/electro1.jpg") no-repeat top center
    fixed;
  background-size: cover;
}

.m7toast {
  --ion-safe-area-bottom: 50px;
  div {
    padding: 0 auto !important;
    width: auto;
    text-align: center !important;
  }
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
button,
input,
select,
textarea {
  font-family: "a-jannat-lt";
  @include no-select;
  --ion-font-family: "a-jannat-lt";
}

.bold {
  font-weight: bold !important;
}

.center {
  text-align: center !important;
}

.native-input {
  position: relative;
  top: 6.5px;
  left: -5px;
  border: 0;
  outline: 0;
  padding: 5px;
}

// shadow
ion-app {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
}
