// http://ionicframework.com/docs/theming/
@charset "UTF-8";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/animate.scss";

// @import "theme/main-theme.scss";
@font-face {
    font-family: 'a-jannat-lt';
    src: url('/resources/fonts/a-jannat-lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@mixin allow-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: default;
}

.m7toast {
    --ion-safe-area-bottom: 50px;
    div {
        padding: 0 auto !important;
        width: auto;
        text-align: center !important;
    }
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
button,
input,
select,
textarea {
    font-family: 'a-jannat-lt';
    @include noselect;

}

.bold {
    font-weight: bold !important;
}

.center {
    text-align: center !important;
}


.native-input {
    position: relative;
    top: 6.5px;
    left: -5px;
    border: 0;
    outline: 0;
    padding: 5px;
}