<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button style="display:block; text-align:center" href="/select-language" routerDirection="forward"> Go to language </ion-button>
  <ion-button style="display:block; text-align:center" href="/login" routerDirection="forward"> Go to login </ion-button>
  <ion-button style="display:block; text-align:center" href="/register" routerDirection="forward"> Go to Registration </ion-button>
</ion-content>