<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button routerLink="/" routerDirection="root">
        <ion-icon name="arrow-round-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title transparent>
      Register an Account
    </ion-title>

  </ion-toolbar>
</ion-header>






















<ion-content background-size>
  <ion-grid no-padding>


    <ion-row padding-top>
      <ion-col text-center>
        <h2>Please fill in all the details</h2>
      </ion-col>
    </ion-row>


    <ion-row size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;" padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">



















        <ion-item>
          <ion-label position="stacked">Account Type</ion-label>

          <ion-select placeholder="Please Select One" ok-text="Select" cancle-text="Cancle" [(ngModel)]="newUser.type"
            interface="action-sheet">

            <ion-select-option value="1">Individual</ion-select-option>
            <ion-select-option value="2">Consultant</ion-select-option>
            <ion-select-option value="3">Contractor</ion-select-option>
            <ion-select-option value="4">Supplier</ion-select-option>

          </ion-select>
        </ion-item>

        <ng-container [ngSwitch]="newUser.type">















          <!-- Individual = 1-->
          <ng-container *ngSwitchCase="1">

            <ng-container *ngTemplateOutlet="city_picker"></ng-container>

            <div padding-top>
              <ion-label position="stacked" class="label">Name (First and Last)</ion-label>

              <ion-input required type="text" placeholder="Enter your name" [(ngModel)]="newUser.personName"></ion-input>

            </div>

            <div padding-top>
              <ion-label position="stacked" class="label">Email</ion-label>

              <ion-input required type="text" placeholder="Enter your email" [(ngModel)]="newUser.email"></ion-input>

            </div>

            <div>
              <ion-label position="stacked">Password</ion-label>

              <ion-input required type="password" placeholder="Enter your password" [(ngModel)]="newUser.password"></ion-input>

            </div>

          </ng-container>





















          <!-- Consultant = 2 -->
          <ng-container *ngSwitchCase="2">

            <ng-container *ngTemplateOutlet="city_picker">
            </ng-container>

            <ng-container *ngTemplateOutlet="company_registration_fields">
            </ng-container>

          </ng-container>










          <!-- Contractor = 3 -->
          <ng-container *ngSwitchCase="3">

            <ng-container *ngTemplateOutlet="city_picker">
            </ng-container>

            <ng-container *ngTemplateOutlet="company_registration_fields">
            </ng-container>

          </ng-container>









          <!-- Supplier = 4 -->
          <ng-container *ngSwitchCase="4">

            <ng-container *ngTemplateOutlet="city_picker"></ng-container>

            <ng-container *ngTemplateOutlet="company_registration_fields"></ng-container>

            <ng-container *ngTemplateOutlet="supplier_fields"></ng-container>

          </ng-container>
        </ng-container>



      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>























<ion-footer>

  <ion-toolbar color="light">

    <ion-row align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;"
      padding-horizontal>

      <ion-col align-self-center size="11" size-sm="11" size-md="5" size-lg="5" size-xl="5" style="margin: 0 auto;">

        <!---google button-->
        <ion-button expand="block" mode="ios" text-uppercase href="/register">
          <ion-icon name="at" mode="md"></ion-icon>&nbsp;Register
        </ion-button>

      </ion-col>
      <!---End Share Section-->
    </ion-row>
  </ion-toolbar>
</ion-footer>


<!-- Templates: -->






















<!-- template to use for both consultant and contractor -->
<ng-template #company_registration_fields>

  <!-- EMAIL -->
  <div padding-top>
    <ion-label position="stacked" class="label">Email</ion-label>

    <ion-input required type="text" placeholder="Enter your email" [(ngModel)]="newUser.email"></ion-input>

    <!-- <ion-label error-field no-margin *ngIf="!isEmailValid">Error: {{errorType}}</ion-label> -->
  </div>

  <!-- PASSWORD -->
  <div>
    <ion-label position="stacked">Password</ion-label>

    <ion-input required type="password" placeholder="Enter your password" [(ngModel)]="newUser.password"></ion-input>

    <ion-label error-field no-margin *ngIf="!isPasswordValid">{{errorPassword}}</ion-label>
  </div>

  <!-- Company Name -->
  <div>
    <ion-label position="stacked">Company Name</ion-label>

    <ion-input required type="text" placeholder="Enter company name" [(ngModel)]="newUser.companyName"></ion-input>
  </div>

  <!-- Company Phone -->
  <div>
    <ion-label position="stacked">Company Phone Number</ion-label>

    <ion-input required type="text" placeholder="Enter company number" [(ngModel)]="newUser.phoneNumber"></ion-input>
  </div>

  <!-- Account Creator Name -->
  <div>
    <ion-label position="stacked">Account Creator Name<br>(First and Last)</ion-label>

    <ion-input required type="text" placeholder="Enter your name" [(ngModel)]="newUser.personName"></ion-input>
  </div>

  <!-- Person Phone -->
  <div>
    <ion-label position="stacked">Account Creator Mobile</ion-label>

    <ion-input required type="text" placeholder="Enter your mobile" [(ngModel)]="newUser.mobileNumber"></ion-input>
  </div>

  <!-- Company Class -->
  <div>
    <ion-label position="stacked">Classification</ion-label>

    <ion-input required type="password" placeholder="Which Classification?" [(ngModel)]="newUser.password"></ion-input>
  </div>

  <!-- upload company license -->
  <div>

    <ion-label position="stacked">Company Licence Copy</ion-label>


    <!-- <div class="upload-wrapper"> -->
    <input #uploadButton type="file" (change)="setUpload($event)" />

    <div>{{ uploadPercent | async }}</div>
    <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
    <ng-container *ngIf="downloadURL | async">
      <img [src]="downloadURL | async">
    </ng-container>
    <!-- </div> -->

  </div>

</ng-template>





















<ng-template #city_picker>

  <ion-item>
    <ion-label position="stacked">City</ion-label>

    <ion-select placeholder="Please Select a City" ok-text="Select" interface="action-sheet" [(ngModel)]="newUser.city">

      <ion-select-option value="1">Abu Dhabi</ion-select-option>
      <ion-select-option value="2">Dubai</ion-select-option>
      <ion-select-option value="3">Sharjah</ion-select-option>
      <ion-select-option value="4">Ajman</ion-select-option>
      <ion-select-option value="5">Fujairah</ion-select-option>
      <ion-select-option value="6">Al Ain</ion-select-option>
      <ion-select-option value="7">Ras al-Khaimah</ion-select-option>
      <ion-select-option value="8">Umm al-Quwain</ion-select-option>

    </ion-select>
  </ion-item>

</ng-template>























<!-- See here: https://www.algolia.com/doc/guides/searching/filtering/ -->

<!-- TODO: FOR LATER, FIX SUPPLIER REGISTRATION -->
<!-- TAKE ALL SELECTED OPTIONS THEN ADD THEM TO AN ARRAY -->
<!-- THIS ARRAY WILL AN ATTRIBUTE ON THE SUPPLIER'S DOCUMENT -->
<!-- CALLED Type: and it'll look like this: type: ['Paint','Blocks','Ceramics'] -->
<!-- algolia won't let you show how many you have on each   -->
<!-- The other type of filtering in algolia is facets, but that only lets you belong to one! example: team: '76ers' -->
<!-- algolia lets you see how many belong to each facet.   -->

<ng-template #supplier_fields>

  <ion-item>
    <ion-label position="stacked">Type</ion-label>

    <ion-select multiple="true" placeholder="Please Select a City" ok-text="Select" interface="action-sheet"
      [(ngModel)]="newUser.city">

      <ion-select-option value="c_paint">Paint</ion-select-option>
      <ion-select-option value="c_blocks">Blocks</ion-select-option>
      <ion-select-option value="c_ceramics">Ceramics</ion-select-option>
      <ion-select-option value="c_interlock">Interlock</ion-select-option>
      <ion-select-option value="c_wood">Wood</ion-select-option>
      <ion-select-option value="c_doors">Doors</ion-select-option>
      <ion-select-option value="c_fabric">Fabric</ion-select-option>
      <ion-select-option value="c_cement">Cement</ion-select-option>

    </ion-select>
  </ion-item>

</ng-template>